@page "{Id:int}"
@model PersonnelShiftSystem.Web.Pages.Teams.TeamEditModel
@{
        ViewData["Title"] = "Takım Düzenle";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div id="kt_app_toolbar" class="app-toolbar align-items-center justify-content-between py-4 py-lg-6">
    <!--begin::Toolbar wrapper-->
    <div class="d-flex flex-grow-1 flex-stack flex-wrap gap-2" id="kt_toolbar">
        <!--begin::Page title-->
        <div class="d-flex flex-column align-items-start me-3 gap-1 gap-lg-2">
            <!--begin::Title-->
            <h1 class="d-flex text-gray-900 fw-bold m-0 fs-3">Ürün Ekleme</h1>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-dot fw-semibold text-gray-600 fs-7">
                <!--begin::Item-->
                <li class="breadcrumb-item text-gray-600">
                    <a href="/Dashboard" class="text-gray-600 text-hover-primary">Anasayfa</a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-gray-600">Takımları Listele</li>
                <li class="breadcrumb-item text-gray-600">Takım Düzenle</li>

                <!--end::Item-->
            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Page title-->
    </div>
    <!--end::Toolbar wrapper-->
</div>
<!--end::Toolbar-->


<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Form-->
    <form method="post" id="postEditTeamForm" data-id="@Model.Id" action="/Teams/TeamEdit/@Model.Id?handler=EditTeam">
        @Html.AntiForgeryToken()

        <!--begin::Input group-->
        <div class="form-group">

            <div class="form-group mb-10">
                <label class="required ">Takım Adı</label>
                <input type="text" class="form-control" id="TeamName" name="TeamName" placeholder="Ad Giriniz." asp-for="@Model.TeamModel.TeamName" />
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->

            <div class="form-group mb-10">
                <label class="required">Takım Lideri</label>
                <select class="form-select" id="TeamLeadId" name="TeamLeadId" asp-for="@Model.TeamLeadId" aria-label="Floating label select example">
                    <option selected value="0">Lütfen Seçim Yapınız</option>
                    @foreach (var item in Model.LeadUserModel)
                    {
                        if(item.Id == @Model.TeamLeadId)
                        {
                                <option selected value="@item.Id">@item.Name @item.Surname</option>

                            }
                        else
                        {
                            <option value="@item.Id">@item.Name @item.Surname</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group mb-10">
                <label class="required">Personel</label>
                <select class="form-select form-select-solid" id="PersonnelIds" name="PersonnelIds" asp-for="@Model.PersonnelIds" data-control="select2" data-placeholder="Select an option">
                    @foreach (var item in Model.PersonnelUserModel)
                    {
                        if(Model.PersonnelIds.Contains(Convert.ToInt32(item.Id)))
                        {
                            <option selected value="@item.Id">@item.Name @item.Surname</option>

                        }
                        else
                        {
                            <option value="@item.Id">@item.Name @item.Surname</option>

                        }

                    }
                </select>
            </div>
            <!--begin::Input group-->

        </div>

        <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                <button type="submit" id="postTeam" class="btn btn-primary">Düzenle</button>
                <button type="submit" class="btn btn-secondary" asp-page-handler="Cancel">İptal Et</button>
            </div>
        </div>


    </form>
    <!--end::Form-->
</div>

@section Scripts {
    <script src="~/assets/js/Pages/TeamJs/TeamEdit.js"></script>
}